body{
    margin:0;
    background-color: rgb(233, 245, 245);
    display:flex;
    justify-content:center;
    align-items:center;
  
}
#name{
    background-color:aliceblue;
    height:500px;
    width:450;
    border-radius:10px;
    padding:100px;
    box-shadow:14px 20px 5px rgb(233, 245, 245)
}
.logo{
    background-image: url(./Assets/3135715.png);
    height:100px;
    width:100px;
    margin:auto;
  border-radius:50%;
}
.title{
    text-align: center;
    color:rgb(14,149,252);
}
label,button,input{
    margin-top: 15px;;
    display:block;
    width:100%;
    border:none;
}
label{
    color: rbg(14,149,252);
}
label:nth-of-type(1){
    margin-top:10px;
}
input{
    background-color:white;
    padding:10px;
    border-radius:40px;
    box-shadow: 10px 10px 5px rgb(236, 235,235);
}
button{
    
    background-color: rgb(14, 142, 254);
    color:white;
    margin-top:50px;
    border-radius:15px;
    padding:15px;
    cursor:pointer;
}
button:hover{
    background-color: rgb(7, 165, 105);
}